body {
    background-color: hsla(204, 33%, 97%, 1);
    padding-block-start: 20px;
    font-family: "lato" , sans-serif;
}

header {
    >img {
        display: inline;
        left:50px;
        width: 200px;
        margin-inline-start: 50px;
    }
    >nav {
        display: inline;
        position: absolute;
        right: 50px;
        /* width: 476px; */
        
    }
    >nav>a {
        margin-inline-end: 30px;
        text-decoration: inherit;
        color: black;
        font-weight: 350;
    }
    >nav>a:hover,   >nav>a:focus {
        outline: 2px solid #3498db;
        offset: 16px;
    }
    >nav>a:nth-last-child(1) {
        padding: 10px;
        border:2px solid black ;
        border-radius: 5px;
    }
    >nav>a:nth-last-child(1):hover,  >nav>a:nth-last-child(1):focus{
        border: none;
    }
    >hr {
        width: 90%;
        margin-inline-start: 5%;
        margin-top: 30px;
        opacity: 0.5;
    }

 
}

main {
    display: flex;
    width: 900px;
    margin-block: 30px;
    margin-inline: auto;

    >section:first-of-type {
        flex-grow: 1;
        border-radius: 8px;
        max-width: 580px;
        padding: 30px;
        background-color: hsla(0, 0%, 100%, 1);
    }

   >section:first-of-type>form>h1:first-of-type {
    width: 161px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 350;
   }
   >section:first-of-type>form>hr {
    opacity: 0.25;
    margin-block: 40px;
    margin-inline-start: -30px;
    margin-inline-end: -30px;
   }

   >section:first-of-type>form>h1.info>span{
        margin-inline-end: 10px;
        border-radius: 50%;
        padding: 8px;
         border: 2px solid hsla(204, 84%, 41%, 1);
         text-align: center;
         margin-inline-end: 8px;
         font-size: small;

   }
  
   >section:first-of-type>form>div+div {
    margin-top: 20px;
   }
   >section:first-of-type>form>div:first-of-type {
    display: flex;
    gap: 16px;
   }
  
   >section:first-of-type>form>button {
    width: 450px;
    height: 52px;
    background-color:hsla(173, 96%, 28%, 1);
    border-radius: 5px;
}
>section:first-of-type>form>button:hover,  >section:first-of-type>form>button:focus {
    background-color: hsla(173, 96%, 38%, 1);
    cursor: pointer;
}
>section:first-of-type>form>p:first-of-type {
    margin-left: 31.5px;
    margin-top: 30px;
}
>section:first-of-type>form>p:first-of-type>#question {
    margin-inline-end: 10px;
    border-radius: 50%;
    padding: 8px;
     border: 2px solid hsla(204, 84%, 41%, 1);
     text-align: center;
     margin-inline-end: 8px;
     font-size: small; 
}
>section:first-of-type>form>p:first-of-type>#contact {
    border-bottom: 1px solid black;
    padding-inline-start: 0px;
    padding-inline-end: 50px;
}
>section:first-of-type>form>p:last-of-type {
    width: max-content;
    margin-inline: auto;
    background-color:    hsla(211, 14%, 39%, 1);
   padding-inline: 8px;
    border-radius: 10px;
    margin-top: 20px;
    color: white;
    text-align: center;

}
>section:first-of-type>form>p:last-of-type>span {
    font-size: 1.5em;
    font-weight: bold;
}





>section:nth-child(2) {
    border-radius: 8px;
  max-width: 312px;
    background-color: 
    hsla(204, 84%, 41%, 1);
    padding-inline: 30px;
    padding-block-start: 40px;
    color: white;
 }
 >section:nth-child(2)>code>span {
    font-size: 30px;
    font-weight: 350;
    line-height: 100px;
    margin-block-end: 16px;
 }

 >section:nth-child(2)>p {
    margin-top: 0px;
  }
 >section:nth-child(2)>div>p {
    margin-top: 20px;
 }
 >section:nth-child(2)>div>p:last-of-type {
    margin-block-end: 50px;
 }
 >section:nth-child(2)>div>p>span {
    margin-inline-end: 10px;
        border-radius: 50%;
        padding: 4px;
         border: 4px solid hsl(193.54, 29%, 86%);
         text-align: center;
         font-size: normal;
 }


 >section:nth-child(2)>a {
    color: inherit;
    font-weight: bold;
    margin-top: 20px;
    text-decoration: none;
    border-bottom: 0.25em solid hsl(193.54, 29%, 86%);
 }
 >section:nth-child(2)>a:hover, >section:nth-child(2)>a:focus {
    outline: 2px solid #3498db;
    offset: 16px;
 }
 >section:nth-child(2)>hr {
    max-width: 229px;
    margin-block: 30px;
    opacity: 0.8;
 }
 

}

* > input {
    padding-inline-start: 16px;
    border: none;
    border-radius: 5px;
    background-color: hsla(216, 16%, 94%, 1);
    
    &:hover, &:focus {
        border: none;
        outline: 2px solid hsl(207.27, 100%, 50%);
    }
  
    &[type="email"] {
        width: 350px;
    }
    &#creditcard {
        width: 450px;  
    }
}

footer {
    margin-left: 38%;
    width: max-content;
   margin-top: 30px;
  }
  
  footer>span {
       font-weight: bolder;
       margin: 10px;
      
     }